<!doctype>
<html>
    <head>
        <title>Myself</title>
    </head>
    <body>
        <p>Hi! myself {{myself}}</p>
      <center>This Page is under Maintainece</center>
        {{> footer}}
    </body>
</html>